body {
    background-color: lightblue;
}

.station-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    transition: all 0.3s ease;
    border-radius: 30%;
}

.station-item .station-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.station-item.now-playing {
    background-color: darkblue;
    border-radius: 30%;
    padding: 10px;
}

.control-button {
    width: 150px;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}