body {
    background-color: lightblue;
}

.station-item {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    color: antiquewhite;
    display: inline-block;
    margin: .5em .5em .5em .5em;
    cursor: pointer;
    width: 200px;
    height: 200px;
}

.button {
    border-radius: 25px;
    color: rgb(5, 35, 87);
    display: inline-block;
    margin: .3em .3em .3em .3em;
}

.now-playing {
    border: solid;
    border-radius: 30%;
    border-width: 10px;
    color: navy;
    background-color: mediumblue;
}

img {
    border-radius: 30%;
    width: 200px;
    height: 200px;
}